<div style="margin: 0.5rem">
    <app-waiting *ngIf="loaded == false"></app-waiting>
    <mat-card class="container-fluid " *ngIf="loaded">
        <mat-card-header class="justify-content-between" style=" text-align: center;">
            <div style="display: flex; width: 200px;word-wrap: break-word; flex-direction: row;">
                <div mat-card-avatar class="example-header-image" style="margin-bottom: 16px ;">
                    <img [src]="avatar" style="height: 40px; width: 40px; border-radius: 50%; flex-shrink: 0;object-fit: cover;">
                </div>
                <div style="margin-left: 10px; text-align: left;">
                    <mat-card-title style="margin-bottom: 0; word-wrap: break-word;" class="wrap-text">
                        <a (click)="goToUser(item.createdBy)" style="cursor: pointer;">{{item.userName}}</a>
                    </mat-card-title>
                    <mat-card-subtitle class="wrap-text" style="word-wrap: break-word;">
                        <span *ngIf="item.status != 0">Public</span>
                        <span *ngIf="item.status == 0">Private</span> <span *ngIf="item.feeling">--
                            {{item.feeling}}</span>
                    </mat-card-subtitle>
                </div>
            </div>

            <div class="float-right" style="display:flex; flex-direction:row ;">
                <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2">{{
                        calculateTime(item.createdAt)}}</small> <i class="fa fa-ellipsis-h"></i> </div><button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More actions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item title="{{'Delete'}}" (click)="onBtnDeleteClick(item.id)" *ngIf="authService.getUserId() == item.createdBy">
                        <span>{{'Delete'}}</span>
                    </button>
                    <button mat-menu-item title="{{'Edit'}}" (click)="editJournal()" *ngIf="authService.getUserId() == item.createdBy">
                        <span>{{'Edit'}}</span>
                    </button>
                </mat-menu>
            </div>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{item.content+" "}} <i>Created at {{item.createdAt | date}}</i>
            </p>
            <img [src]="item.image" alt="Photo of journal" *ngIf="item.image">
        </mat-card-content>
        <mat-card-actions>
            <!-- Currently no action available -->
            <div style="font-size: 0.5rem; font-weight: 100; line-height: 0.5; color: deeppink;padding-left: 9px;" *ngIf="likes >0"><i class="pi pi-thumbs-up" style="font-size: 0.75rem"> </i> Liked by {{likes}} people
            </div>
            <div *ngIf="authService.isAuthenticated()"><button mat-button *ngIf="!liked" (click)="onBtnLikeClick()">LIKE</button>
                <button style="color: deeppink;" mat-button *ngIf="liked" (click)="onBtnUnLikeClick()">LIKED</button>
            </div>
            <!--
            <button mat-button>SHARE</button> -->
        </mat-card-actions>
    </mat-card>
</div>

<p-dialog [(visible)]="formDisplay" [modal]="true" [baseZIndex]="10000" appendTo="body" [style]=" {width: '70%%'} " [draggable]="true" [maximizable]="true " [closable]="false ">
    <p-header>
        <i class="fal fa-user-edit "></i> {{"Edit journal" }}
    </p-header>
    <form #form="ngForm">
        <div class="col-md-12 ">
            <div class="form-row ">
                <div class="col-md-6 ">
                    <label>{{ 'How are you feeling today?' }}</label>
                    <input type="text" class="form-control" [(ngModel)]="itemAdd.feeling" name="feeling" placeholder="{{ 'Tell people how you feel' }} ">
                </div>
                <div class="col-md-6 ">
                    <div class="form-group ">
                        <label>{{ 'Public/private' }}</label>
                        <div>
                            <p-toggleButton onLabel="show" offLabel="hide" offIcon="pi pi-times" onIcon="pi pi-check" iconPos="right" [(ngModel)]="journalStatus" name="toggleButton">
                            </p-toggleButton>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row ">
                <div class="col-md-6 ">
                    <div class="form-group ">
                        <label>{{ 'What do you want to share?' }}</label>
                        <validate-form [form]="form " controlName="name "></validate-form>
                        <textarea placeholder="{{ 'Your journal goes here' }} " class=" form-control" rows="5 " cols="30" pitemTextarea autoResize="autoResize" [(ngModel)]="itemAdd.content " required name="content"></textarea>
                    </div>
                </div>


                <div class="col-md-6 ">
                    <div class="form-group ">
                        <label>{{ 'We have not developed retrieving images, please reupload' }}</label>
                        <app-upload [preview]="true" (onFileLoad)="upload($event) ">
                        </app-upload>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <br><br><br><br>
    <ng-template pTemplate="footer ">
        <button class="btn btn-primary " title="{{ ( 'SAVE') }}(Enter) " (click)="onBtnAddJournal() ">
            {{ 'Save' }}
        </button>
        <button class="btn btn-secondary " style="float:right;" title="{{ 'CANCEL' }}(Esc) " (click)="onBtnCancelJournal() ">{{
            'Cancel' }}</button>
    </ng-template>
</p-dialog>