<section>
    <div class="container-fluid">
        <h2>Vertical Nav</h2>
        <p>Use the .flex-column class to create a vertical nav:</p>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xl-3" style="padding-top: 0.5rem;">
                <div class="nav flex-column sticky-top" style="top: 4rem; width:100%">
                    <h5>Search by name</h5>
                    <br>
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText [(ngModel)]="shopRequest.name"
                            style="width: 100%;max-width: 100%;">
                        <label for="float-input">Shop name</label>
                    </span>
                    <br>
                    <h5>Cities</h5>
                    <p-multiSelect [options]="cities" optionLabel="name" optionValue="city" [(ngModel)]="shopRequest.cities" defaultLabel="Select a city" selectedItemsLabel="{0} items selected" [selectionLimit]="1" (onChange)="changeCities()">
                    </p-multiSelect><br>

                    <h5>Districts</h5>
                    <p-multiSelect [options]="filteredDistricts" [(ngModel)]="shopRequest.districts" optionLabel="name" [selectionLimit]="1" optionValue="a district" defaultLabel="Select districts" [selectedItemsLabel]="'{0} items selected'">
                    </p-multiSelect>
                    <br>
                    <h5>Streets</h5>
                    <p-multiSelect [options]="filteredStreets" [(ngModel)]="shopRequest.streets" optionLabel="name" optionValue="street" defaultLabel="Select streets" [selectedItemsLabel]="'{0} items selected'">
                    </p-multiSelect>
                    <br>
                    <h5>Categories</h5>
                    <p-multiSelect [options]="categories" [(ngModel)]="shopRequest.categoryIds" defaultLabel="Select categories" optionLabel="name" optionValue="categoryId" selectedItemsLabel="{0} items selected">
                    </p-multiSelect><br>
                    <button type="button" pButton label="Filter" icon="pi pi-power-off" (click)="initShop()" style="margin-left:.25em"></button>
                    <!-- <h5>Grouped</h5> -->
                    <!-- <p-multiSelect [maxSelectedLabels]="1" [options]="groupedCities" [group]="true" [style]="{'width':'100%'}" [(ngModel)]="selectedCities4" defaultLabel="Select a City" scrollHeight="250px" display="chip">
                        <ng-template let-group pTemplate="group">
                            <div class="p-d-flex p-ai-center">

                                <span>{{group.label}}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect> -->
                </div>


            </div>
            <div class="col-lg-9 col-md-8 col-xl-9">
                <!-- <div *ngIf="isLoadingSubject | async">Loading data...</div> -->
                <div class="row" infinite-scroll (scrolled)="onScrollDown()" style="width: 100%;word-wrap: break-word">
                    <div class="col-md-6 col-xl-4" style="padding: 20px;" *ngFor="let shop of dataSource.items">
                        <div class="hi">
                            <div class="card-deck">
                                <div class="card">
                                    <img class=" img-shop" [src]="shop.image" alt="Card image cap">
                                    <a [routerLink]="['/app/shop/shop-item', shop.id]" class="shop-item" data-toggle="tooltip" data-placement="bottom" title="Go to shop    " trigger="hover focus">
                                        <div class="card-body">
                                            <h5 class="card-title">{{shop.name}}</h5>
                                            <h6 class="card-text">{{shop.address}} {{shop.street}} {{shop.district}} {{shop.city}}
                                            </h6>
                                            <p>Price range: {{shop.minPrice}}-{{shop.maxPrice}}</p>
                                            <p>Telephone: {{shop.telephone}}</p>
                                            <p>{{shop.description}}</p>
                                        </div>
                                    </a>
                                    <div class="card-footer">
                                        <small class="text-muted">Created at {{shop.createdAt | date}}</small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <app-waiting *ngIf="loaded == false"></app-waiting>
            </div>
        </div>
    </div>
</section>