<section>
    <div class="container-fluid">
        <h2 style="text-align: center; margin-top:2rem">{{ 'SHOP.HEADER' | translate }}</h2>
        <p style="text-align: center; margin-bottom: 2rem;">{{ 'SHOP.SUBHEADER' | translate }}</p>
        <p style="text-align: center; margin-bottom: 2rem;">{{ 'SHOP.SUGGESTION_HEADER' | translate }} <a [routerLink]="['/app/home']">{{ 'SHOP.SUGGESTION_LINK' | translate }}</a></p>
        <div class="nav flex-row " style="top: 4rem; width:100%">
            <button pButton class="float-right" label="{{ 'SHOP.FILTER' | translate }}" icon="pi pi-search" (click)="op.toggle($event)"></button>

            <p-overlayPanel appendTo="body" [baseZIndex]="9999" #op [showCloseIcon]="true" [style]="{width: '90%'}">
                <ng-template pTemplate>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>{{ 'SHOP.SEARCH.NAME' | translate }}</h5>
                            <span class="p-float-label">
                                <input id="float-input" type="text" pInputText [(ngModel)]="shopRequest.name"
                                    style="width: 100%;max-width: 100%;">
                                <label for="float-input">{{ 'SHOP.SEARCH.NAME_LABEL' | translate }}</label>
                            </span>
                        </div>
                        <div class="col-md-2">
                            <h5>{{ 'SHOP.SEARCH.CITY' | translate }}</h5>
                            <p-multiSelect [options]="cities" optionLabel="name" optionValue="city" [(ngModel)]="shopRequest.cities" defaultLabel="{{ 'SHOP.SEARCH.CITY_LABEL' | translate }}" selectedItemsLabel="{0} items selected" [selectionLimit]="1" (onChange)="changeCities()" [style]="{width:'100%'}">
                            </p-multiSelect><br>
                        </div>
                        <div class="col-md-2">
                            <h5>{{ 'SHOP.SEARCH.DISTRICT' | translate }}</h5>
                            <p-multiSelect [options]="filteredDistricts" [(ngModel)]="shopRequest.districts" optionLabel="name" [selectionLimit]="1" optionValue="district" defaultLabel="{{ 'SHOP.SEARCH.DISTRICT_LABEL' | translate }}" [selectedItemsLabel]="'{0} items selected'" [style]="{width:'100%'}">
                            </p-multiSelect>
                            <br>
                        </div>
                        <div class="col-md-2">
                            <h5>{{ 'SHOP.SEARCH.STREET' | translate }}</h5>
                            <p-multiSelect [options]="filteredStreets" [(ngModel)]="shopRequest.streets" optionLabel="name" optionValue="street" defaultLabel="{{ 'SHOP.SEARCH.STREET_LABEL' | translate }}" [selectedItemsLabel]="'{0} items selected'" [style]="{width:'100%'}">
                            </p-multiSelect>
                            <br>
                        </div>
                        <div class="col-md-2">
                            <h5>{{ 'SHOP.SEARCH.CATEGORY' | translate }}</h5>
                            <p-multiSelect [options]="categories" [(ngModel)]="shopRequest.categoryIds" defaultLabel="{{ 'SHOP.SEARCH.CATEGORY_LABEL' | translate }}" optionLabel="name" optionValue="categoryId" selectedItemsLabel="{0} items selected" [style]="{width:'100%'}">
                            </p-multiSelect><br>
                        </div>
                        <div class="col-md-1">
                            <button type="button" pButton label="" icon="pi pi-search" (click)="initShop();" style="margin-left:.25em"></button>
                        </div>
                        <!-- <h5>Grouped</h5> -->
                        <!-- <p-multiSelect [maxSelectedLabels]="1" [options]="groupedCities" [group]="true" [style]="{'width':'100%'}" [(ngModel)]="selectedCities4" defaultLabel="Select a City" scrollHeight="250px" display="chip">
                                                                        <ng-template let-group pTemplate="group">
                                                                            <div class="p-d-flex p-ai-center">
                                                
                                                                                <span>{{group.label}}</span>
                                                                            </div>
                                                                        </ng-template>
                                                                    </p-multiSelect> -->
                    </div>
                </ng-template>
            </p-overlayPanel>


        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-xl-1"></div>
            <div class="col-lg-10 col-md-10 col-xl-10">
                <!-- <div *ngIf="isLoadingSubject | async">Loading data...</div> -->
                <div class="row" infinite-scroll (scrolled)="onScrollDown()" style="width: 100%;word-wrap: break-word">
                    <div class="col-md-6 col-xl-4 col-lg-4" style="padding: 20px;" *ngFor="let shop of dataSource.items">
                        <div class="hi">
                            <div class="card-deck">
                                <div class="card">
                                    <a [routerLink]="['/app/shop/shop-item', shop.id]" class="shop-item" data-toggle="tooltip" data-placement="bottom" title="Go to shop    " trigger="hover focus">
                                        <img class=" img-shop" [src]="shop.image" alt="Card image cap">

                                        <div class="card-body ">
                                            <h5 class="card-title ">{{shop.name}} 
                                                <p-tag styleClass="p-mr-2" severity="success" value="{{shop.rating.toFixed(2)}}" [rounded]="true">
                                                </p-tag>
                                                <em style="font-size: 1rem;font-weight: 300;">{{ 'SHOP.SAVED' | translate }} {{shop.numSaved}} {{ 'SHOP.TIMES' | translate }}</em>
                                            </h5>
                                            <h6 class="card-text ">{{shop.address}}, {{shop.street}}, {{shop.district}}, {{shop.city}}
                                            </h6>
                                            <p><i class="pi pi-dollar"></i> {{shop.minPrice}}-{{shop.maxPrice}}</p>
                                            <p><i class="pi pi-phone"></i> {{shop.telephone}}</p>
                                            <p>{{shop.description}}</p>
                                        </div>
                                    </a>
                                    <div class="card-footer">
                                        <small class="text-muted" *ngIf="shop.openingHour || shop.endingHour">Opening
                                            hours:{{" "+shop.openingHour}}-{{shop.endingHour}}</small>
                                        <small class="text-muted" *ngIf="!(shop.openingHour || shop.endingHour)">This
                                            shop has no opening hours data</small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <app-waiting *ngIf="loaded == false"></app-waiting>
            </div>
            <div class="col-lg-1 col-md-1 col-xl-1"></div>
        </div>
    </div>
</section>