<div class="container-fluid" style="margin-top:30px;width:100%;">
    <div class="d-flex align-items-center justify-content-center" style="flex-direction: column;
    ">
        <h2>Welcome to your journey page {{userName}}</h2>
        <app-waiting *ngIf="pageLoaded == false"></app-waiting>
        <img *ngIf="pageLoaded == true" [src]="imageUrl" style="width: 250px; height:250px; object-fit: cover; border-radius: 50%;">
        <div style="flex-direction: row;">
            <app-upload (onReadImage)="loadAvatarImage($event)" (onFileLoad)="loadAvatar($event)"></app-upload>
        </div>
        <button class="btn btn-primary" (click)="uploadAvatar()" *ngIf="avatarLoaded == true">Update
            avatar</button>
    </div>
    <div class="row">
        <div class=" col-md-1">
        </div>

        <div class="col-md-10">
            <div class="row">
                <div class=" col-md-4 ">
                    <div class="sticky-top" style="top: 4rem;">
                        <mat-card>
                            <mat-card-title>
                                My coffee journey
                                <button id="all" class="btn  float-right" style="background-color: deeppink; color: white;" (click)="initData()">All</button>
                            </mat-card-title>
                            <mat-card-subtitle>Click highlighted date to view journals</mat-card-subtitle>
                            <div (click)="$event.stopPropagation()" style="">
                                <mat-calendar #calendar (selectedChange)="select($event,calendar)" [dateClass]="isSelected">
                                </mat-calendar>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div class="col-md-8">
                    <div style="margin: 0.5rem;">
                        <h2>Share your coffee journal now</h2>
                        <button class="btn btn-primary" (click)="editJournal()">Add Journal</button>
                    </div>
                    <p-messages severity="info" *ngIf="!data || data.length == 0">
                        <ng-template pTemplate>
                            <div class="p-ml-2">No data to display
                            </div>
                        </ng-template>
                    </p-messages>
                    <div infinite-scroll (scrolled)="onScrollDown()" style="width: 100%;word-wrap: break-word">
                        <div *ngFor="let i of data">
                            <app-post [id]="i.id" [status]="i.status" [feeling]="i.feeling" [createdAt]="i.createdAt" [content]="i.content" [name]="'Testing user'" [avatar]="postAvatar" [service]=" journalService " [userName]="i.name " (event)="initData() ">
                            </app-post>
                        </div>
                    </div>

                    <app-waiting *ngIf="isLoaded==false "></app-waiting>
                </div>
            </div>
            <div class="col-md-1 "></div>



        </div>
    </div>
</div>
<p-dialog [(visible)]="formDisplay" [modal]="true" [baseZIndex]="10000" appendTo="body" [style]=" {width: '70%%'} " [draggable]="true" [maximizable]="true " [closable]="false " (onHide)="reset()">
    <p-header>
        <i class="fal fa-user-edit "></i> {{"Add journal " }}
    </p-header>
    <form autocomplete="off" #form="ngForm" id="journal-edit">
        <div class="col-md-12 ">
            <div class="form-row ">
                <div class="col-md-6 ">
                    <label>{{ 'How are you feeling today?' }}</label>
                    <input type="text " class="form-control " [(ngModel)]="input.feeling " name="feeling" placeholder="{{ 'Tell people how you feel' }} ">
                </div>
                <div class="col-md-6 ">
                    <div class="form-group ">
                        <label>{{ 'Public/private' }}</label>
                        <div>
                            <p-toggleButton onLabel="show " offLabel="hide " offIcon="pi pi-times " onIcon="pi pi-check " iconPos="right " [(ngModel)]="journalStatus" name="toggleButton">
                            </p-toggleButton>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row ">
                <div class="col-md-6 ">
                    <div class="form-group ">
                        <label>{{ 'What do you want to share?' }}</label>
                        <validate-form [form]="form " controlName="content"></validate-form>
                        <textarea placeholder="{{ 'Your journal goes here' }} " class=" form-control" rows="5 " cols="30" pInputTextarea autoResize="autoResize" [(ngModel)]="input.content" required name="content"></textarea>
                    </div>
                </div>


                <div class="col-md-6 ">
                    <div class="form-group "><label>{{ 'Do you have any photo you want to share?' }}</label>
                        <app-upload [preview]="true " (onFileLoad)="upload($event) ">
                        </app-upload>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <br><br><br><br>
    <ng-template pTemplate="footer ">
        <button class="btn btn-primary " title="{{ ( 'SAVE') }}(Enter) " (click)="onBtnAddJournal() ">
            {{ 'Save' }}
        </button>
        <button class="btn btn-secondary " style="float:right;" title="{{ 'CANCEL' }}(Esc) " (click)="onBtnCancelJournal() ">{{
            'Cancel' }}</button>
    </ng-template>
</p-dialog>