<div style="   height: 50vh;
    min-height: 200px;
    background-size: cover;
    background-image: linear-gradient( 45deg, #efefef 25%, rgba(239, 239, 239, 0) 25%, rgba(239, 239, 239, 0) 75%, #efefef 75%, #efefef), linear-gradient( 45deg, #efefef 25%, rgba(239, 239, 239, 0) 25%, rgba(239, 239, 239, 0) 75%, #efefef 75%, #efefef);
    background-position: center;">

</div>
<div class="container-fluid" style="margin-top:30px;width:100%;">
    <div class="row">
        <div class="col-xl-4">

            <h2>About Me</h2>
            <h5>Photo of me:</h5>
            <div>
                <!-- [formGroup]="addBlogForm" -->
                <!-- <form #form (ngSubmit)="OnSubmit()">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" #Caption ngModel name="Caption" id="Caption" required>
                                        <label for="Caption">Caption</label>
                                    </div>
                                </div>
                                <img [src]="imageUrl" style="width:250px;height:200px">
                                <input type="file" id="image" #image accept="image/*" (change)="handleFileInput($event)">
                                <button type="submit" class="btn-large btn-submit" [disabled]="image.value=='' || !form.valid">Submit</button>
                            </form> -->
                <img [src]="imageUrl" style="width: 250px; height:250px; object-fit: cover;">
                <button type="button" (click)="image.click()">Pick File</button>
                <input style="max-width: 90vw;" type="file" id="image" #image accept="image/*" (change)="handleFileInput($event)" #image>
                <button type='button' (click)="onUpload()">Submit</button>
            </div>
            <div class=" fakeimg ">Fake Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            <h3>Some Links</h3>
            <p>Lorem ipsum dolor sit ame.</p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>

        <div class="col-xl-4">
            <h2>Share your coffee journal now</h2>
            <h5>Title description, Dec 7, 2017</h5>
            <div class="fakeimg">Fake Image</div>
            <h5>AutoResize</h5>
            <div>
                <button class="btn btn-primary" (click)="onBtnSaveJournal()">Add Journal</button>
            </div>
            {{journalContent | json}}
            <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" [(ngModel)]="journalContent"></textarea>
            <div>
                <p-toggleButton onLabel="show" offLabel="hide" offIcon="pi pi-times" onIcon="pi pi-check" iconPos="right" [(ngModel)]="journalStatus"></p-toggleButton>
            </div>

            <br>
            <h2>TITLE HEADING</h2>
            <h5>Title description, Sep 2, 2017</h5>
            <div class="fakeimg">Fake Image</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="col-xl-4">
            <!-- <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>calendar_today</mat-icon>
            </button> -->
            <!-- <mat-menu #appMenu="matMenu"> -->
            <mat-card>
                <mat-card-title>
                    My coffee journal
                </mat-card-title>
                <div (click)="$event.stopPropagation()" style="">
                    <mat-calendar #calendar (selectedChange)="select($event,calendar)" [dateClass]="isSelected">
                    </mat-calendar>
                </div>
            </mat-card>
            <!-- </mat-menu> -->
            {{daysSelected | json}}
            <!-- [(selectedDate)]
This will emit your selected date change as well as take
an input of a date like a 2-way data bind.

[showWeek]
Simply highlights the selected week instead of the day.
Value "selectedDate" will still return date picked not the whole week.

[mainColor]
Set default color for calendar. Defaults to #03a9f4.

[secondaryColor]
Set default color for selected dates color. Defaults to #ff5. -->

        </div>
    </div>
</div>
<!-- [minDate]="pickerMinDate" [maxDate]="pickerMaxDate" [dayTemplate]="customDay"-->
<!-- <p-dialog [(visible)]="display" [breakpoint]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    Content
</p-dialog> -->