<div class="bg_footer">
    <div class="bg_text">
        <div class="bg_text-deco">
            <div class="container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4" style="width: 33%;">
                            <div style=" text-align: center;">
                                <a [routerLink]="['/app/shop']">{{ 'FOOTER.SHOP' | translate }}</a>
                            </div>
                            <div style=" text-align: center;">
                                <!-- (click)="returnTop()" -->
                                <a [routerLink]="['/app/reviewer']">{{ 'FOOTER.REVIEW' | translate }}</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4" style="width: 33%;">
                            <div style=" text-align: center;"><a [routerLink]="['/app/home']">{{ 'FOOTER.HOME' | translate }}</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4" style="width: 33%;">
                            <div style=" text-align: center;">
                                <a [routerLink]="['/app/user/forum']">{{ 'FOOTER.JOURNAL' | translate }}</a>
                            </div>
                            <div style=" text-align: center;"><a [routerLink]="['/app/author']">{{ 'FOOTER.AUTHOR' | translate }}</a>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-12">
                        <p-divider align="center" >
                            <b class="copyright" style="color: black;">© Copyright 2021 Coffee Venture</b>
                        </p-divider>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_overlay"></div>
</div>