<div class="bg_footer">
    <div class="bg_text">
        <div class="bg_text-deco">
            <div class="container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <a [routerLink]="['/app/shop']">Go to our list of shops </a>
                            </div>
                            <div>
                                <!-- (click)="returnTop()" -->
                                <a [routerLink]="['/app/reviewer']">Go to our list of reviewers</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div><a [routerLink]="['/app/home']">View our home page</a></div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <a [routerLink]="['/app/user/forum']">View our journal forum</a>
                            </div>
                            <div><a [routerLink]="['/app/author']">About the author</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_overlay"></div>
</div>