<!-- <div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <span>This is a span</span>
            </div>
            <div class="col-md-4"><span>This is a span</span>
                <div></div>
                <span>This is a span</span>
            </div>
            <div class="col-md-4"><span>This is a span</span>
                <div></div>
                <span>This is a span</span>
            </div>
        </div>
    </div>
</div> -->
<div class="bg_footer">
    <div class="bg_text">
        <div class="bg_text-deco">
            <div class="container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <a routerLink="/shop">Go to our list of shops <i class="pi pi-arrow-right transform"
                                        style="font-size: 0.5rem"></i></a>
                            </div>
                            <div>
                                <!-- (click)="returnTop()" -->
                                <a routerLink="/reviewer">Go to our list of reviewers <i
                                        class="pi pi-arrow-right transform" style="font-size: 0.5rem"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div><a routerLink="">View our home page <i class="pi pi-arrow-right transform"
                                        style="font-size: 0.5rem"></i></a></div>
                        </div>
                        <div class="col-md-4"><span>This is a span</span>
                            <div></div>
                            <span>This is a span</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_overlay"></div>
</div>