<div class="container">
    <form-dynamic [formData]="formData" [form]="form" (save)="onBtnSaveClick()" (cancel)="onBtnCancelClick()">
        <div>
            <div class="row">
                <div class="col-lg-12">
                    <form autocomplete="off" #form="ngForm" id="{{formData.formId}}">
                        <h5>{{ 'shop.shop_INFO' }}</h5>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>{{ 'Min Price'}}</label>
                                <input type="number" class="form-control" name="minprice" placeholder="{{ 'Min Price' }}" [(ngModel)]="shopData.minPrice">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>{{ 'Max Price' }}</label>
                                <input type="number" class="form-control" name="maxPrice" placeholder="{{ 'Max Price' }}" [(ngModel)]="shopData.maxPrice">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>{{ 'Description' }}</label>
                                <input type="text" class="form-control" name="description" placeholder="{{ 'Description'  }}" [(ngModel)]="shopData.description">
                            </div>
                            <!--To Do add category-->
                            <div class="col-md-6 mb-3">
                                <label>{{ 'Name' }}</label>
                                <input type="text" class="form-control" name="name" placeholder="{{ 'name'  }}" [(ngModel)]="shopData.name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>{{ 'Telephone' }}</label>
                                <input type="text" class="form-control" name="telephone" placeholder="{{ 'Telephone'  }}" [(ngModel)]="shopData.telephone">
                            </div>
                            <!--To Do add category-->
                            <div class="col-md-6 mb-3">
                                <label>{{ 'Alternative Telephone' }}</label>
                                <input type="text" class="form-control" name="alternativeTelephone" placeholder="{{ 'Alternative Telephone'  }}" [(ngModel)]="shopData.alternativeTelephone">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>{{ 'Address' }}</label>
                                <input type="text" class="form-control" name="address" placeholder="{{ 'Address'  }}" [(ngModel)]="shopData.address">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>{{ 'District' }}</label>
                                <input type="text" class="form-control" name="district" placeholder="{{ 'District'  }}" [(ngModel)]="shopData.district">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>{{ 'City' }}</label>
                                <input type="text" class="form-control" name="city" placeholder="{{ 'City'  }}" [(ngModel)]="shopData.city">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>{{ 'Street' }}</label>
                                <input type="street" class="form-control" name="street" placeholder="{{ 'street'  }}" [(ngModel)]="shopData.street">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>{{ 'Category' }}</label>
                                <async-select [actionGet]="'getShopCategory'" [actionCount]="'countShopCategory'" name="name" bindLabel="name" placeholder="{{ 'Shop Category'  }}" [multiple]="true" [closeOnSelect]="true" [service]="shopService" [(ngModel)]="shopData.shopCategory">
                                </async-select>
                                <!-- <app-role-operation [dialogRef]="operationDialogRef"></app-role-operation> -->
                            </div>
                            <div class="col-md-6 mb-3">
                                <p-toggleButton onLabel="show" offLabel="hide" offIcon="pi pi-times" onIcon="pi pi-check" iconPos="right" [(ngModel)]="status">
                                </p-toggleButton>
                            </div>
                        </div>
                        <app-upload-multiple (onFileLoad)="upload($event)">
                        </app-upload-multiple>

                    </form>
                </div>

            </div>
        </div>
    </form-dynamic>
</div>