<div class="container">
    <form-dynamic [formData]="formData" [form]="form" (save)="onBtnSaveClick()" (cancel)="onBtnCancelClick()">
        <div>
            <div class="row">
                <div class="col-lg-12">
                    <form autocomplete="off" #form="ngForm" id="shop-edit">
                        <h5>{{ 'Shop add' }}</h5>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>{{ 'Min Price'}}</label>
                                <input type="number" class="form-control" name="minprice" placeholder="{{ 'Min Price' }}" [(ngModel)]="shopData.minPrice" required autofocus>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>{{ 'Max Price' }}</label>
                                <input type="number" class="form-control" name="maxPrice" placeholder="{{ 'Max Price' }}" [(ngModel)]="shopData.maxPrice" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="form-required">{{ 'Name' }}</label>
                                <validate-form [form]="form" controlName="name"></validate-form>
                                <input type="text" class="form-control" name="name" placeholder="{{ 'name'  }}" [(ngModel)]="shopData.name" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-required">{{ 'Description' }}</label>
                                <validate-form [form]="form" controlName="description"></validate-form>
                                <input type="text" class="form-control" name="description" placeholder="{{ 'Description'  }}" [(ngModel)]="shopData.description" required>
                            </div>
                            <!--To Do add category-->
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>{{ 'Telephone' }}</label>
                                <validate-form [form]="form" controlName="telephone"></validate-form>
                                <input type="text" class="form-control" name="telephone" placeholder="{{ 'Telephone'  }}" [(ngModel)]="shopData.telephone" required>
                            </div>
                            <!--To Do add category-->
                            <div class="col-md-6 mb-3">
                                <label>{{ 'Alternative Telephone' }}</label>
                                <input type="text" class="form-control" name="alternativeTelephone" placeholder="{{ 'Alternative Telephone'  }}" [(ngModel)]="shopData.alternativeTelephone">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="form-required">{{ 'Address' }}</label>
                                <validate-form [form]="form" controlName="address"></validate-form>
                                <input type="text" class="form-control" name="address" placeholder="{{ 'Address'  }}" [(ngModel)]="shopData.address" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-required">{{ 'Street' }}</label>
                                <validate-form [form]="form" controlName="name"></validate-form>
                                <input type="street" class="form-control" name="street" placeholder="{{ 'street'  }}" [(ngModel)]="shopData.street" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="form-required">{{ 'City' }}</label>
                                <validate-form [form]="form" controlName="city"></validate-form>
                                <input type="text" class="form-control" name="city" placeholder="{{ 'City'  }}" [(ngModel)]="shopData.city" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-required">{{ 'District' }}</label>
                                <validate-form [form]="form" controlName="district"></validate-form>
                                <input type="text" class="form-control" name="district" placeholder="{{ 'District'  }}" [(ngModel)]="shopData.district" required>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="col-md-6  mb-3">
                                <label>{{ 'Opening hour' }}</label>
                                <input-time [(ngModel)]="shopData.openingHour" name="openingHour"></input-time>
                            </div>


                            <div class="col-md-6  mb-3">
                                <label>{{ 'Ending hour' }}</label>
                                <input-time [(ngModel)]="shopData.endingHour" name="endingHour"></input-time>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="form-required">{{ 'Category' }}</label>
                                <validate-form [form]="form" controlName="category"></validate-form>
                                <async-select [actionGet]="'selectCategory'" [actionCount]="'countCategory'" name="category" bindLabel="name" placeholder="{{ 'Shop Category'  }}" [multiple]="true" [closeOnSelect]="true" [service]="shopService" [(ngModel)]="shopData.shopCategory" required>
                                </async-select>
                                <!-- <app-role-operation [dialogRef]="operationDialogRef"></app-role-operation> -->
                            </div>
                            <div class="col-md-6 mb-3">
                                <p-toggleButton onLabel="show" offLabel="hide" offIcon="pi pi-times" onIcon="pi pi-check" iconPos="right" [(ngModel)]="status">
                                </p-toggleButton>
                            </div>
                        </div>
                        <app-upload-multiple (onFileLoad)="upload($event)">
                        </app-upload-multiple>

                    </form>
                </div>

            </div>
        </div>
    </form-dynamic>
</div>