<div class="row">
    <input style="max-width: 90vw;" type="file" id="image" #file accept="image/*" (change)="handleFileInput($event)" style="display:none;">

</div>


<div class="row" style="margin-bottom:15px;margin-top:15px; align-items: center; flex-direction: column;">
    <button type="button" class="btn btn-success" style="max-width: 200px;" (click)="file.click()">Choose
        Images</button>
    <img *ngIf="preview == true" [src]="imageUrl" alt="Image appears here" style="width: 250px; height:250px; object-fit: cover; ">
    <!-- <div class="col-md-12">
        <span class="upload" *ngIf="message">
            {{message}}
        </span>
    </div> -->
</div>