
<div id="author1" class="container-fluid" >
    <div class="row" style="padding-top: 30px; padding-bottom: 30px;">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <img class="author" src="assets/img/couple.jpg" [alt]="'author photo'" />
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div style="margin:auto;
            margin: 28px 70px;text-align: center;">

                <h1>Andrew Nguyen & Darcy Le</h1>
                <em><b>Founders of Coffee Venture</b></em>
                <p>Andrew is currently a sophomore majoring in Computer Science and Business at Brandeis University, USA. Darcy is currently a sophomore majoring in Marketing at University of Richmond, USA. Andrew is the main Web Developer and Darcy is the main UI/UX writer, two people both contribute to other parts of the project. Their sincere interest in finding good cafes and sharing their experience leads to the foundation of this platform for coffee enthusiasts to share their experiences and become reviewers of their favorite cafes.</p>

            <div class="form-row">
                <div class="col-md-12" style="text-align: center;">
                    <b>CONTACT US!</b>
                </div>
                <br>
                <br>
                <div class="col-md-4 col-sm-4" style="width: 33%">
                    <a href="https://www.facebook.com/andrewng2002/" target="_blank">
                        <img class="link" src="assets/img/fb.png" alt="facebook logo"/>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4" style="width: 33%">
                    <a href="https://www.instagram.com/bebu.iw/" target="_blank">
                        <img class="link" src="assets/img/ig.png" alt="instagram logo" />
                    </a>
                </div>
                <div class="col-md-4 col-sm-4" style="width: 33%">
                    <a href="https://www.linkedin.com/in/andrew-nguyen-02/" target="_blank">
                        <img class="link" src="assets/img/linkedin.png" alt="LinkedIn logo"/>
                    </a>
                </div>
    </div>
            </div>
            
        </div>
    </div>
    
</div>