<div id="position" class="sunflower">
    <div class="head">
        <div id="eye-1" class="eye"></div>
        <div id="eye-2" class="eye"></div>
        <div class="mouth"></div>
    </div>
    <div class="petals"></div>
    <div class="trunk">
        <div class="left-branch"></div>
        <div class="right-branch"></div>
    </div>
    <div class="vase"></div>
</div>
<div id="position_2" class="sunflower">
    <div class="head">
        <div id="eye-1" class="eye"></div>
        <div id="eye-2" class="eye"></div>
        <div class="mouth"></div>
    </div>
    <div class="petals"></div>
    <div class="trunk">
        <div class="left-branch"></div>
        <div class="right-branch"></div>
    </div>
    <div class="vase"></div>
</div>
<div id="position_3" class="sunflower">
    <div class="head">
        <div id="eye-1" class="eye"></div>
        <div id="eye-2" class="eye"></div>
        <div class="mouth"></div>
    </div>
    <div class="petals"></div>
    <div class="trunk">
        <div class="left-branch"></div>
        <div class="right-branch"></div>
    </div>
    <div class="vase"></div>
</div>
<div id="position_4" class="sunflower">
    <div class="head">
        <div id="eye-1" class="eye"></div>
        <div id="eye-2" class="eye"></div>
        <div class="mouth"></div>
    </div>
    <div class="petals"></div>
    <div class="trunk">
        <div class="left-branch"></div>
        <div class="right-branch"></div>
    </div>
    <div class="vase"></div>
</div>
<div id="author1" class="container-fluid" style="padding-left: 0; height: 500px;">
    <div class="row" style=" height: 100%;">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <img src="assets/img/couple.jpg" [alt]="'author photo'" />
        </div>
        <div class="col-md-8">
            <div style=" height: 60%;
    color: black;
    margin: 100px 70px;
    padding: 85px 70px;
    font-weight: bold;
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;">

                <h1>Nguyen Vinh Khanh & Le Thi Thu Giang</h1>
                <p>Former students at Hanoi-Amsterdam High school</p>
            </div>
        </div>
    </div>
</div>