<div class="input-group">
    <!-- Trường hợp trên table thì hiển thị input text -->
    <input type="search"
           *ngIf="isOnTable"
           class="form-control"
           placeholder="{{ placeholder | translate }}"
           [(ngModel)]="value"
           placement="bottom-right"
           ngbTooltip="{{ value }}"
           [title]="value"
           (change)="onChange($event)"
           (keydown)="$event.preventDefault()"
           (focusout)="focusOut()"
           (focusin)="focus.emit()"
           (blur)="blur.emit()"
           [required]="required"
           [disabled]="disabled">
    <ng-select-async [bindLabel]="bindValue"
                     *ngIf="!isOnTable"
                     placeholder="{{ placeholder | translate }}"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     [service]="service"
                     [requestPayload]="requestPayload"
                     [(ngModel)]="value"
                     title="{{value ? value[bindValue] : ''}}"
                     [required]="required"
                     (focus)="focus.emit()"
                     (blur)="blur.emit()"
                     [canAdd]="canAdd"
                     (addNew)="addNewItem()"
                     [disabled]="disabled">
    </ng-select-async>
    
    <div class="input-group-append">
        <button class="input-group-text input-group-right attach-button"
                (click)="onBtnShowDialogListClick()"
                tabindex="-1"
                [disabled]="disabled"><i class="fal fa-ellipsis-v"></i></button>
        <!-- List data đồng bộ -->
        <app-select-sync-source-list [dialogRef]="dialogRef"
                                     *ngIf="isShowDialog"
                                     (select)="onSelectRow($event)"></app-select-sync-source-list>
    </div>
</div>

<!-- Form thêm -->
<app-select-sync-source-add [dialogRef]="dialogRefAdd"></app-select-sync-source-add>