<div class="app">
    <header class="header">
        <div class="grid">
            <nav class="header__navbar">
                <ul class="header__navbar-list">
                    <li class="header__navbar-item header__navbar-item-has-qr header__navbar-item--separate">Vao cua hang
                        <div class="header__qr">
                            <img src="./assets/img/qr-code.png" alt="QRCODE" class="header__qr-img">
                            <div class="header__qr-apps">
                                <a href="" class="header__qr-link"><img src="./assets/img/qr-code.png" alt="app store" class="header__qr-download-img"></a>
                                <a href="" class="header__qr-link"><img src="./assets/img/qr-code.png" alt="app store" class="header__qr-download-img"></a>
                            </div>
                        </div>
                    </li>
                    <li class="header__navbar-item ">Ket noi</li>
                </ul>
                <ul class="header__navbar-list">
                    <li class="header__navbar-item">
                        Thong bao
                        <div class="header__notify">
                            <header class="header__notify-header">
                                <h3>Thong bao moi nhan</h3>
                            </header>
                            <ul class="header__notify-list">
                                <li class="header__notify-item">
                                    <a href="" class="header__notify-link">
                                        <img src="./assets/img/qr-code.png" alt="test" class="header__notify-img">
                                        <div class="header__notify-info">
                                            <span class="header__notify-name">My pham Ohui chinh hang</span>
                                            <span class="header__notify-description">Mo ta my pham</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <footer class="header__notify-footer">
                                <a href="" class="header__notify-footer-btn">Xem tat ca</a>
                            </footer>
                        </div>
                    </li>
                    <li class="header__navbar-item">Tro giup</li>
                    <li class="header__navbar-item header__navbar-item--strong">Dang ky</li>
                    <li class="header__navbar-item header__navbar-item--strong">Dang nhap</li>

                </ul>
            </nav>
        </div>

    </header>
</div>

hi