<!-- <div class="app">
    <header class="header">
        <div class="grid">
            <nav class="header__navbar">
                <ul class="header__navbar-list">
                    <li class="header__navbar-item header__navbar-item-has-qr header__navbar-item--separate">Vao cua hang
                        <div class="header__qr">
                            <img src="./assets/img/qr-code.png" alt="QRCODE" class="header__qr-img">
                            <div class="header__qr-apps">
                                <a href="" class="header__qr-link"><img src="./assets/img/qr-code.png" alt="app store" class="header__qr-download-img"></a>
                                <a href="" class="header__qr-link"><img src="./assets/img/qr-code.png" alt="app store" class="header__qr-download-img"></a>
                            </div>
                        </div>
                    </li>
                    <li class="header__navbar-item ">Ket noi</li>
                </ul>
                <ul class="header__navbar-list">
                    <li class="header__navbar-item header__navbar-item--has-notify">
                        Thong bao
                        <div class="header__notify">
                            <header class="header__notify-header">
                                <h3>Thong bao moi nhan</h3>
                            </header>
                            <ul class="header__notify-list">
                                <li class="header__notify-item">
                                    <a href="" class="header__notify-link">
                                        <img src="./assets/img/qr-code.png" alt="test" class="header__notify-img">
                                        <div class="header__notify-info">
                                            <span class="header__notify-name">My pham Ohui chinh hang</span>
                                            <span class="header__notify-description">Mo ta my pham</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <footer class="header__notify-footer">
                                <a href="" class="header__notify-footer-btn">Xem tat ca</a>
                            </footer>
                        </div>
                    </li>
                    <li class="header__navbar-item">Tro giup</li>
                    <li class="header__navbar-item header__navbar-item--strong">Dang ky</li>
                    <li class="header__navbar-item header__navbar-item--strong">Dang nhap</li>

                </ul>
            </nav>
        </div>

    </header>
</div>

hi -->
<div>
    <div class="bg"></div>
    <div class="bg_text">
        <div class="bg_text-deco">
            <div>
                <div style="color: whitesmoke; font-size: 3.2rem;
                line-height: 4.6rem;
                font-weight: 700;">Happy 14/3 em bíu hay cáu</div>
            </div>
            <div style="color: whitesmoke;    font-size: 3.2rem;
    line-height: 4.6rem;
    font-weight: 700;">Tặng em bíu 1 bộ sưu tập ảnh bíu</div>
        </div>
    </div>
    <div class="bg_overlay"></div>
</div>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#section1">Section 1</a></li>
                        <li><a href="#section2">Section 2</a></li>
                        <li><a href="#section3">Section 3</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#section41">Section 4-1</a></li>
                                <li><a href="#section42">Section 4-2</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav> -->
    <div class="row sticky-top">
        <div class="col-md-2 navbar" style="padding-top: 5rem; padding-left: 2rem;
            position: absolute; z-index: 2;">
            <ul class="nav nav-pills flex-column " style="top: 4rem;" *ngFor="let product of pics">
                <li class="nav-link nav-pills"><a class="nav-link" href="#{{product.id}}" style="  pointer-events: none;
  cursor: default;">I lov u</a>
            </ul>
        </div>
        <!-- <div class="col-lg-4">
            <nav id="navbar-example3" class="navbar navbar-light bg-light sticky-top">
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link" href="#section1">Item 1</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                        <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
                    </nav>
                    <a class="nav-link" href="#section2">Item 2</a>
                    <a class="nav-link" href="#section3">Item 3</a><a class="nav-link" href="#section4">Item 4</a>
                    <a class="nav-link" href="#section4">Item 5</a><a class="nav-link" href="#section4">Item 6</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#section41">Item 4.1</a>
                        <a class="nav-link ms-3 my-1" href="#section42">Item 4-2</a>
                    </nav>
                    </nav>
                    </nav>
        </div> -->
    </div>
    <div id="position" class="sunflower">
        <div class="head">
            <div id="eye-1" class="eye"></div>
            <div id="eye-2" class="eye"></div>
            <div class="mouth"></div>
        </div>
        <div class="petals"></div>
        <div class="trunk">
            <div class="left-branch"></div>
            <div class="right-branch"></div>
        </div>
        <div class="vase"></div>
    </div>
    <div id="position_2" class="sunflower">
        <div class="head">
            <div id="eye-1" class="eye"></div>
            <div id="eye-2" class="eye"></div>
            <div class="mouth"></div>
        </div>
        <div class="petals"></div>
        <div class="trunk">
            <div class="left-branch"></div>
            <div class="right-branch"></div>
        </div>
        <div class="vase"></div>
    </div>
    <div id="position_3" class="sunflower">
        <div class="head">
            <div id="eye-1" class="eye"></div>
            <div id="eye-2" class="eye"></div>
            <div class="mouth"></div>
        </div>
        <div class="petals"></div>
        <div class="trunk">
            <div class="left-branch"></div>
            <div class="right-branch"></div>
        </div>
        <div class="vase"></div>
    </div>
    <div id="position_4" class="sunflower">
        <div class="head">
            <div id="eye-1" class="eye"></div>
            <div id="eye-2" class="eye"></div>
            <div class="mouth"></div>
        </div>
        <div class="petals"></div>
        <div class="trunk">
            <div class="left-branch"></div>
            <div class="right-branch"></div>
        </div>
        <div class="vase"></div>
    </div>
    <div style="z-index: 1;">
        <div *ngFor="let product of pics">
            <div id="{{product.id}}" class="container-fluid" style="padding-left: 0; height: 500px;">
                <div class="row" style=" height: 100%;">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <img src="assets/img/{{product.image}}" [alt]="product.header" class="{{product.class}}" />
                    </div>
                    <div class="col-md-8">
                        <div style=" height: 60%;
    color: black;
    margin: 100px 70px;
    padding: 85px 70px;
    font-weight: bold;
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;">

                            <h1>{{product.header | uppercase}}</h1>
                            <p>{{product.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="section2" class="container-fluid">
                <h1>Section 2</h1>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            </div>
            <div id="section3" class="container-fluid">
                <h1>Section 3</h1>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            </div>
            <div id="section41" class="container-fluid">
                <h1>Section 4 Submenu 1</h1>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            </div>
            <div id="section42" class="container-fluid">
                <h1>Section 4 Submenu 2</h1>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            </div> -->
    </div>
</body>
<footer>
    <div>
        <div style="
            height: 500px;
            color: #fff;
            background-color: lightpink;">
            <div class="row" style=" height: 100%;">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <img src="assets/img/khanh_birthday.jpeg" [alt]="'hello'" class="img-hor" />
                </div>
                <div class="col-md-8">
                    <div style=" height: 60%;
                color: black;
                margin: 100px 70px;
                padding: 85px 70px;
                font-weight: bold;
                text-align: center;
                border-top: 3px solid #f1f1f1;
                border-bottom: 3px solid #f1f1f1;">

                        <h1>{{"Anh iu em bíu" | uppercase}}</h1>
                        <p>Hết ròi chúc em bíu iu nhanh nhìu hơn nhá</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg_text">
            <div class="bg_text-deco">
                <div>
                    <div style="color: whitesmoke; font-size: 3.2rem;
                    line-height: 4.6rem;
                    font-weight: 700;">Happy 14/3 em bíu hay cáu</div>
                </div>
                <div style="color: whitesmoke;    font-size: 3.2rem;
        line-height: 4.6rem;
        font-weight: 700;">Tặng em bíu 1 bộ sưu tập ảnh bíu</div>
            </div>
        </div>
        <div class="bg_overlay"></div>
    </div>
</footer>