<form-dynamic [formData]="formData" [form]="form" (save)="onBtnSaveClick()" (cancel)="onBtnCancelClick()">
    <div>
        <div class="row">
            <div class="col-lg-7">
                <form autocomplete="off" #form="ngForm" id="{{formData.formId}}">
                    <h5>{{ "User Info" }}</h5>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>{{"Title"}}</label>
                            <validate-form [form]="form" controlName="title"></validate-form>
                            <ng-select [items]="titles" bindLabel="name" bindValue="name" name="title" placeholder="{{ 'Title'  }}" [(ngModel)]="userData.title" required autofocus>
                            </ng-select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>{{ "First Name" }}</label>
                            <input type="text" class="form-control" name="firstName" placeholder="{{ 'First name'  }}" [(ngModel)]="userData.firstName" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>{{ "Mid name "}}</label>
                            <input type="text" class="form-control" name="midname" placeholder="{{ 'Mid name'  }}" [(ngModel)]="userData.midName">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>{{ 'Last name' }}</label>
                            <input type="text" class="form-control" name="lastname" placeholder="{{ 'Last name'  }}" [(ngModel)]="userData.lastName" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>{{ 'Email' }}</label>
                            <validate-form [form]="form" controlName="email"></validate-form>
                            <input type="text" class="form-control" name="email" placeholder="{{ 'Email'  }}" [(ngModel)]="userData.email" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>{{ 'Mobile' }}</label>
                            <input type="text" class="form-control" name="mobile" placeholder="{{ 'Mobile'  }}" [(ngModel)]="userData.mobile">
                        </div>
                    </div>
                    <br>
                    <h5>{{ 'USER.USER_LOGIN' }}</h5>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>{{ 'User Name' }}</label>
                            <validate-form [form]="form" controlName="usernam"></validate-form>
                            <input type="text" class="form-control" name="username" placeholder="{{ 'User Name'  }}" [(ngModel)]="userData.userName" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>{{ "Password" }}</label>
                            <validate-form [form]="form" controlName="password"></validate-form>
                            <input type="text" class="form-control" name="password" placeholder="{{ 'Password'  }}" [(ngModel)]="userData.password" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>{{ 'Last login' }}</label>
                            <span class="form-control disabled">
                                {{ userData.lastLoginAt | date}}</span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>{{ 'Tel' }}</label>
                            <input type="text" class="form-control" name="tel" placeholder="{{ 'Tel'  }}" [(ngModel)]="userData.tel">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>{{ 'Roles' }}</label>
                            <validate-form [form]="form" controlName="role"></validate-form>
                            <async-select name="role" bindLabel="name" placeholder="{{ 'Roles'  }}" [multiple]="true" [closeOnSelect]="true" [service]="roleService" [(ngModel)]="userData.userRole" required>
                            </async-select>
                            <app-role-operation [dialogRef]="operationDialogRef"></app-role-operation>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>{{ 'USER.ACTIVE' }}</label>
                            <div>
                                <p-inputSwitch name="status" [ngModel]="userData.status" (ngModelChange)="userData.status = $event ? 1 : 0"></p-inputSwitch>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form-dynamic>