/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: rgb(238, 75, 43);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --dark-color: rgb(28, 27, 34);
    --black: rgb(10, 10, 10);
    --hue-color-0: rgb(196, 161, 125);
    --hue-color-1: rgb(168, 186, 169);
    --hue-color-2: rgb(255, 245, 207);
    --hue-color-3: rgb(219, 205, 173);
    --hue-color-4: rgb(179, 156, 125);
    --hue-color-5: rgb(128, 104, 84);
}

.form-required::after {
    content: "*";
    color: red;
}

#SpinnerBar {
    display: none;
}

.m-page--loading-non-block #SpinnerBar {
    display: block;
}

.p-menuitem.active {
    background-color: orange;
}

* {
    box-sizing: inherit;
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--dark-color);
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark-color);
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}


/* Animation*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

[data-stuck] {
    position: sticky;
    top: 0;
    transition: ease-in 0.5s;
}

[data-stuck="false"] {
    background: black;
    color: white;
    -webkit-transition: ease-in 0.5s;
    -moz-transition: ease-in 0.5s;
    -o-transition: ease-in 0.5s;
    transition: ease-in 0.5s;
}