<div class="input-group">
    <!-- Trường hợp trên table thì hiển thị input text -->
    <input type="search" *ngIf="isOnTable" class="form-control" placeholder="{{ placeholder  }}" [(ngModel)]="value" placement="bottom-right" ngbTooltip="{{ value }}" [title]="value" (change)="onChange($event)" (keydown)="$event.preventDefault()" (focusout)="focusOut()"
        (focusin)="focus.emit()" (blur)="blur.emit()" [disabled]="disabled">
    <ng-select *ngIf="!isOnTable" [bindLabel]="bindLabel" [bindValue]="bindValue" [suffixLabel]="suffixLabel" [suffixValue]="suffixValue" [items]="listBuffer" [selectedItems]="selectedItems" [multiple]="multiple" [disabled]="disabled" [placeholder]="placeholder"
        [requestPayload]="requestPayload" [(ngModel)]="value" [loading]="isLoading" [virtualScroll]="true" [dropdownPosition]="dropdownPosition" [closeOnSelect]="closeOnSelect === undefined ? true : closeOnSelect" [searchFn]="searchFn" [clearable]="clearable === undefined ? true : closeOnSelect"
        (focus)="focus.emit($event); onTouched();" (blur)="blur.emit($event);" (open)="onOpen()" (close)="onClose()" (scrollToEnd)="onScrollToEnd()" (search)="onSearch($event)" (change)="onChange($event)" (clear)="onClear()">
        <ng-template ng-header-tmp>
            <small class="form-text text-muted">
                {{ isLoading ? 'Loading' : 'Loaded' }} {{ listBuffer.length }} of {{ count }}
                <button *ngIf="canAdd == true" class="link" (click)="addNew.emit()">Add new</button>
                <button *ngIf="selectAll == true" class="link" (click)="onBtnSelectAll()">Select all</button>
                <i style="font-size: 1.2rem;" class="fal fa-copy fa-btn float-right" title="Copy value to clipboard"
                    (click)="copyToClipboard(value)"></i>
            </small>
        </ng-template>
        <ng-template *ngIf="suffixLabel" ng-option-tmp let-item="item">
            <span title="{{ getLabel(item, bindLabel) }} {{ getLabel(item, suffixLabel) }}">
                <b>{{ getLabel(item, bindLabel) }} </b>
                <span style="font-weight: 500; font-style: italic;">{{ getLabel(item, suffixLabel) }}</span>
            </span>
        </ng-template>
        <ng-template *ngIf="suffixValue" ng-label-tmp let-item="item">
            <b>{{ getLabel(item, bindLabel) }}</b> {{ getLabel(item, suffixValue) }}
        </ng-template>
        <ng-template ng-label-tmp let-item="item">
            <span title="{{ item[bindLabel]  }}">{{ item[bindLabel] }}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
            <span title="{{ item[bindLabel]  }}">{{ item[bindLabel] }}</span>
        </ng-template>
        <ng-template ng-loadingspinner-tmp>
        </ng-template>
    </ng-select>
    <div class="input-group-append">
        <button class="input-group-text input-group-right attach-button" (click)="onBtnShowDialogListClick()" tabindex="-1" [disabled]="disabled"><i class="fal fa-ellipsis-v"></i></button>
    </div>
</div>

<!-- Form thêm -->
<ng-select-async-list-add [dialogRef]="dialogRefAdd"></ng-select-async-list-add>

<!-- List data đồng bộ -->
<ng-select-async-list-dialog [dialogRef]="dialogRef" *ngIf="isShowDialog" (select)="onSelectRow($event)">
</ng-select-async-list-dialog>