<head>
    <meta name="google-site-verification" content="-qIUmbbsmwb8w9kntnMcKCDNBcLH2hvqAHgKsbmGCLc" />
</head>
<div class="bg">
    <div class="bg_text">
        <div class="bg_text-deco">
            <div class="container">
                <div *ngIf="checkAuth() == false">
                    <div class="row" style="word-wrap: break-word;">
                        <div style="width: 100%;
                        max-width: 1224px;
                        margin: 0 auto; text-align: center;">
                            <div class="text-deco-small">Welcome to Coffee Venture</div>
                            <div class="text-deco" style="margin-bottom: 4rem;">Are you ready for your next coffee?
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <a [routerLink]="['/app/shop']"><button class="btn btn-primary"> See shops</button> </a>
                        <a [routerLink]="['/login']"><button class="btn btn-primary">Login now to start a journal
                            </button></a>
                        <a [routerLink]="['/app/user/forum']"><button class="btn btn-primary">See what people are
                                reviewing </button></a>
                    </div>
                </div>
                <div *ngIf="checkAuth() == true">
                    <div class="row" style="word-wrap: break-word;">
                        <div style="width: 100%;
                                                max-width: 1224px;
                                                margin: 0 auto; text-align: center;">
                            <div class="text-deco">Welcome {{userName}}
                            </div>
                            <div class="text-deco" style="margin-bottom: 4rem;">What are you up today?</div>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <a [routerLink]="[ '/app/shop'] "><button class="btn btn-primary "> See shops</button> </a>
                        <a [routerLink]="[ '/app/user'] "><button class="btn btn-primary ">Start a journal </button></a>
                        <a [routerLink]="[ '/app/reviewer'] "><button class="btn btn-primary ">Start reviewing
                            </button></a>
                        <a [routerLink]="[ '/app/user/forum'] "><button class="btn btn-primary ">See what people are
                                reviewing </button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="bg_overlay "></div>
</div>

<section id="services ">
    <div class="container ">
        <header>
            <h2 style="text-align: center; margin-top:0.5rem; ">Start you search now!</h2>
        </header>
        <div class="row ">
            <div class="col-md-4 " style="padding: 20px; ">
                <div class="hi ">
                    <p-card header="Every shop is unique, have you tried them all? " subheader=" " styleClass="p-card-shadow ">
                        <ng-template pTemplate="header">
                            <div style="text-align: center;">
                                <i class="pi pi-star-o" style="font-size: 5rem"></i>
                            </div>

                        </ng-template>
                        <p style="height: 5vh;text-align: center; "><a [routerLink]="[ '/app/shop'] ">See our list of
                                shops now!</a>
                        </p>
                    </p-card>
                </div>
            </div>
            <div class="col-md-4 " style="padding: 20px; ">
                <div class="hi ">
                    <p-card header="Good coffee houses have good reviews" subheader="" styleClass="p-card-shadow ">
                        <ng-template pTemplate="header">
                            <div style="text-align: center;">
                                <i class="pi pi-users" style="font-size: 5rem"></i>
                            </div>
                        </ng-template>
                        <p style="text-align: center;height: 5vh ">
                            <a [routerLink]="[ '/app/user/forum'] ">See what people are reviewing now!</a>
                        </p>
                    </p-card>
                </div>
            </div>
            <div class="col-md-4 " style="padding: 20px; ">
                <div class="hi ">
                    <p-card header="Journals make coffee venture memorable" subheader=" " styleClass="p-card-shadow">
                        <ng-template pTemplate="header">
                            <div style="text-align: center;">
                                <i class="pi pi-pencil" style="font-size: 5rem"></i>
                            </div>
                        </ng-template>
                        <p style="text-align: center;height: 5vh "><a [routerLink]="[ '/app/user'] ">Write some journals
                                now!</a>
                        </p>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="bg_carousel ">
        <div class="container-fluid ">
            <p-carousel [value]="headerJournal" styleClass="carousel-container " [numVisible]="1 " [numScroll]="1 " [circular]="true " [autoplayInterval]="3000 ">
                <!-- [responsiveOptions]="responsiveOptions " -->
                <ng-template pTemplate="header ">
                    <h5 class="bg_carousel-header ">
                        Highlighted coffee journal</h5>
                </ng-template>
                <ng-template let-product pTemplate="item ">
                    <div class="product-item ">
                        <div class="row ">
                            <div class="p-md-6 " style="padding: 1rem; ">
                                <img src="assets/img/{{product.image}}" alt="This journal have no image" class="product-image " />
                            </div>
                            <div class="p-md-6 " style="padding: 1rem; ">
                                <h4 style="color: white; ">{{product.date | date:'yyyy-MM-dd'}}</h4>
                                <span style="color: white; ">{{product.content}}</span>
                                <!-- <div class="car-buttons ">
                                    <p-button type="button " styleClass="p-button p-button-rounded p-mr-2 " icon="pi pi-search ">
                                    </p-button>
                                    <p-button type="button " styleClass="p-button-success p-button-rounded p-mr-2 " icon="pi pi-star ">
                                    </p-button>
                                    <p-button type="button " styleClass="p-button-help p-button-rounded " icon="pi pi-cog ">
                                    </p-button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</section>
<section #shop>
    <div class="container-fluid ">
        <h2 style="text-align: center; margin-top:2rem ">See our list of shops</h2>
        <p style="text-align: center; margin-bottom: 2rem; ">For viewing all shops, please visit our lists of <a [routerLink]="[ '/app/shop'] ">available shops</a></p>
        <div class="nav flex-row " style="top: 4rem; width:100% ">
            <button pButton class="float-right " label="filter " icon="pi pi-search " (click)="op.toggle($event) "></button>

            <p-overlayPanel appendTo="body" [baseZIndex]="9999" #op [showCloseIcon]="true" [style]="{width: '90%'}">
                <ng-template pTemplate>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Search by name</h5>
                            <span class="p-float-label">
                                <input id="float-input" type="text" pInputText [(ngModel)]="shopRequest.name"
                                    style="width: 100%;max-width: 100%;">
                                <label for="float-input">Shop name</label>
                            </span>
                        </div>
                        <div class="col-md-2">
                            <h5>Cities</h5>
                            <!-- <ng-select [items]="cities" bindLabel="name" bindValue="city" name="city" (change)="changeCities()" placeholder="{{'Choost a city'}}" [style]="{width:'100%'}" [(ngModel)]="shopRequest.cities" validateTooltip appendTo="body" [addTag]="false">
                            </ng-select> -->
                            <p-multiSelect [options]="cities" optionLabel="name" optionValue="city" [(ngModel)]="shopRequest.cities" defaultLabel="Select a city" selectedItemsLabel="{0} items selected" [selectionLimit]="1" (onChange)="changeCities()" [style]="{width:'100%'}">
                            </p-multiSelect><br>
                        </div>
                        <div class="col-md-2">
                            <h5>Districts</h5>
                            <p-multiSelect [options]="filteredDistricts" [(ngModel)]="shopRequest.districts" optionLabel="name" [selectionLimit]="1" optionValue="district" defaultLabel="Select districts" [selectedItemsLabel]="'{0} items selected'" [style]="{width:'100%'}">
                            </p-multiSelect>
                            <br>
                        </div>
                        <div class="col-md-2">
                            <h5>Streets</h5>
                            <p-multiSelect [options]="filteredStreets" [(ngModel)]="shopRequest.streets" optionLabel="name" optionValue="street" defaultLabel="Select streets" [selectedItemsLabel]="'{0} items selected'" [style]="{width:'100%'}">
                            </p-multiSelect>
                            <br>
                        </div>
                        <div class="col-md-2">
                            <h5>Categories</h5>
                            <p-multiSelect [options]="categories" [(ngModel)]="shopRequest.categoryIds" defaultLabel="Select categories" optionLabel="name" optionValue="categoryId" selectedItemsLabel="{0} items selected" [style]="{width:'100%'}">
                            </p-multiSelect><br>
                        </div>
                        <div class="col-md-1">
                            <button type="button" pButton label="" icon="pi pi-search" (click)="initShop();" style="margin-left:.25em"></button>
                        </div>
                        <!-- <h5>Grouped</h5> -->
                        <!-- <p-multiSelect [maxSelectedLabels]="1" [options]="groupedCities" [group]="true" [style]="{'width':'100%'}" [(ngModel)]="selectedCities4" defaultLabel="Select a City" scrollHeight="250px" display="chip">
                                                                                    <ng-template let-group pTemplate="group">
                                                                                        <div class="p-d-flex p-ai-center">
                                                            
                                                                                            <span>{{group.label}}</span>
                                                                                        </div>
                                                                                    </ng-template>
                                                                                </p-multiSelect> -->
                    </div>
                </ng-template>
            </p-overlayPanel>


        </div>
        <div class="row ">
            <div class="col-lg-1 col-md-1 col-xl-1 "></div>
            <div class="col-lg-10 col-md-10 col-xl-10 ">
                <mat-paginator [pageSize]="12 " [pageSizeOptions]="[12, 24, 36] " [length]="dataSource.paginatorTotal " [showFirstLastButtons]="true " (page)="onPageChange($event) "></mat-paginator>
                <app-waiting *ngIf="loaded==false "></app-waiting>
                <div class="row " *ngIf="loaded==true ">
                    <div class="col-md-6 col-xl-4 " style="padding: 20px; " *ngFor="let shop of dataSource.items ">
                        <div class="hi ">
                            <div class="card-deck ">
                                <div class="card ">
                                    <!-- <img class="card-img-top img-shop " src="assets/img/{{shop.image}} " alt="Card image cap "> -->
                                    <a [routerLink]="[ '/app/shop/shop-item', shop.id] " class="shop-item " data-toggle="tooltip " data-placement="bottom " title="Go to shop " trigger="hover focus ">
                                        <img class=" img-shop " [src]="shop.image " alt="Card image cap ">
                                        <div class="card-body ">
                                            <h5 class="card-title ">{{shop.name}}</h5>
                                            <h6 class="card-text ">{{shop.address}} {{shop.street}} {{shop.district}} {{shop.city}}
                                            </h6>
                                            <p>Price range: {{shop.minPrice}}-{{shop.maxPrice}}</p>
                                            <p>Telephone: {{shop.telephone}}</p>
                                            <p>{{shop.description}}</p>
                                        </div>
                                    </a>
                                    <div class="card-footer ">
                                        <small class="text-muted " *ngIf="shop.openingHour || shop.endingHour ">Opening
                                            hours:{{" "+shop.openingHour}}-{{shop.endingHour}}</small>
                                        <small class="text-muted " *ngIf="!(shop.openingHour || shop.endingHour) ">This
                                            shop has no opening hours data</small>
                                    </div>
                                </div>
                                <!-- <p-card header="{{shop.header}} " subheader=" " styleClass="p-card-shadow ">
                                <ng-template pTemplate="header ">
                                    <img src="assets/img/{{shop.image}} " [alt]="shop.header " class="{{shop.class}} " />
                                </ng-template>
                                <p style="height: 20vh ">Categories: </p>
                                <p style="height: 20vh ">See our list of reviews now!
                                </p>
                                <ng-template pTemplate="footer ">
                                    <div>
                                        <a routerLink="/reviewer ">See reviews <i class="pi pi-arrow-right transform "
                                                style="font-size: 0.5rem "></i></a>
                                    </div>
                                </ng-template>
                            </p-card> -->
                            </div>
                        </div>
                        <!-- <div class="col-md-4 " style="padding: 20px; ">
                        <div class="hi ">
                            <p-card header="Every good coffee house have good reviews " subheader=" " styleClass="p-card-shadow ">
                                <ng-template pTemplate="header ">
                                    <img alt="Card " src="https://images.unsplash.com/photo-1470434151738-dc5f4474c239?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb ">
                                </ng-template>
                                <p style="height: 20vh ">See our list of reviews now!
                                </p>
                                <ng-template pTemplate="footer ">
                                    <div>
                                        <a routerLink="/reviewer ">See reviews <i class="pi pi-arrow-right transform "
                                                style="font-size: 0.5rem "></i></a>
                                    </div>
                                </ng-template>
                            </p-card>
                        </div>
                    </div>
                    <div class="col-md-4 " style="padding: 20px; ">
                        <div class="hi ">
                            <p-card header="Every good coffee house have good reviews " subheader=" " styleClass="p-card-shadow ">
                                <ng-template pTemplate="header ">
                                    <img alt="Card " src="https://images.unsplash.com/photo-1470434151738-dc5f4474c239?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb ">
                                </ng-template>
                                <p style="height: 20vh ">See our list of reviews now!
                                </p>
                                <ng-template pTemplate="footer ">
                                    <div>
                                        <a routerLink="/reviewer ">See reviews <i class="pi pi-arrow-right transform "
                                                style="font-size: 0.5rem "></i></a>
                                    </div>
                                </ng-template>
                            </p-card>
                        </div>
                    </div> -->
                    </div>
                </div>

            </div>
            <div class="col-lg-1 col-md-1 col-xl-1 "></div>
        </div>
    </div>
</section>

<!-- <section>
    <header>
        <h1 style="text-align: center; margin-top:0.5rem; ">Highlighted journal</h1>
    </header>
    <div class="bg_carousel ">
        <div class="container ">
            <ngb-carousel [interval]="4000 " [pauseOnHover]="true " [pauseOnFocus]="true ">
                <ng-template ngbSlide *ngFor="let journal of headerJournal; index as i ">
                    <div class="carousel-caption ">
                        <h3>My slide {{i + 1}} title</h3>
                        <div>
                            <h3>User: {{journal.name}}</h3>
                        </div>
                    </div>
                    <div class="picsum-img-wrapper ">
                        <img src="assets/img/{{journal.image}} " alt="My image {{i + 1}} description ">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</section> -->
<!--   <p-overlayPanel appendTo="body " [baseZIndex]="9999 " #op [showCloseIcon]="true " [style]="{width: '90%'} ">
                <ng-template pTemplate>
                    <div class="row ">
                        <div class="col-md-3 ">
                            <h5>Search by name</h5>
                            <span>
                                <input id="float-input " type="text " pInputText [(ngModel)]="shopRequest.name "
                                    style="width: 100%;max-width: 100%; " placeholder="Shop name ">
                            </span>
                        </div>
                        <div class="col-md-2 ">
                            <h5>Cities</h5>
                            {{shopRequest.cities}}
                            <p-dropdown [options]="cities " optionLabel="name " optionValue="city " [(ngModel)]="shopRequest.cities " (onChange)="changeCities() " [showClear]="true " [style]="{width: '100%'} ">
                            </p-dropdown>
                        </div>
                        <div class="col-md-2 ">
                            <h5>Districts</h5>
                            <p-dropdown [options]="filteredDistricts " [(ngModel)]="shopRequest.districts " optionLabel="name " optionValue="district " (onChange)="changeCities() " [showClear]="true " [style]="{width: '100%'} ">
                            </p-dropdown>
                            <br>
                        </div>
                        <div class="col-md-2 ">
                            <h5>Streets</h5>
                            {{shopRequest.streets}}
                            <p-dropdown [options]="filteredStreets " [(ngModel)]="shopRequest.streets " optionLabel="name " optionValue="street " placeholder="Select a street " (onChange)="changeCities() " [showClear]="true " [style]="{width: '100%'} ">
                            </p-dropdown>
                            <br>
                        </div>
                        <div class="col-md-2 ">
                            <h5>Categories</h5>
                            <p-multiSelect [options]="categories " [(ngModel)]="shopRequest.categoryIds " defaultLabel="Select categories " optionLabel="name " optionValue="categoryId " selectedItemsLabel="{0} items selected " [style]="{width:
                        '100%'} ">
                            </p-multiSelect><br>
                        </div>
                        <div class="col-md-1 ">
                            <h5>Find</h5>
                            <button type="button " pButton label=" " icon="pi pi-search " (click)="initShop() " style="margin-left:.25em "></button>
                        </div>
                         <h5>Grouped</h5> -->
<!-- <p-multiSelect [maxSelectedLabels]="1 " [options]="groupedCities " [group]="true " [style]="{ 'width': '100%'} " [(ngModel)]="selectedCities4 " defaultLabel="Select a City " scrollHeight="250px " display="chip ">
                                                                <ng-template let-group pTemplate="group ">
                                                                    <div class="p-d-flex p-ai-center ">
                                        
                                                                        <span>{{group.label}}</span>
                                                                    </div>
                                                                </ng-template>
                                                            </p-multiSelect> 
                    </div>
                </ng-template>
            </p-overlayPanel>
 -->