<crud-dialog [dialogRef]="dialogRef" [form]="form" (save)="onBtnSaveClick()">
    <form autocomplete="off" #form="ngForm" id="select-sync-source-add">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label>{{ 'COMMON.CRUD.CODE' }}</label>
                <input type="text" class="form-control" name="code" placeholder="{{ 'COMMON.CRUD.CODE'  }}" [(ngModel)]="dataSource.code" required>
                <validate-message [form]="form" controlName="code"></validate-message>
            </div>
            <div class="col-md-6 mb-3">
                <label>{{ 'COMMON.CRUD.NAME' }}</label>
                <input type="text" class="form-control" name="name" placeholder="{{ 'COMMON.CRUD.NAME'  }}" [(ngModel)]="dataSource.name" required>
                <validate-message [form]="form" controlName="name"></validate-message>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button class="btn btn-success btn-label-brand mt-3" (click)="onBtnSaveClick()">{{ 'COMMON.SELECT' }}</button>
        <button class="btn btn-success btn-label-dark mt-3" (click)="dialogRef.hide()">{{ 'COMMON.CLOSE' }}</button>
    </ng-template>
</crud-dialog>