
<header>
    <a (click)="cancel.emit()" class="btn btn-secondary kt-margin-r-10" mat-raised-button *ngIf="formData.isCancel">
        <i class="la la-arrow-left"></i>
        <span class="kt-hidden-mobile">{{ 'BACK' }}</span>
    </a>
</header>
<ng-content></ng-content>
<div *ngIf="!formData.hideHeader && !formData.isHideFooter">
    <button class="btn btn-sm btn-warning float-left mr-2" title="{{ 'DELETE'  }}(Ctrl + Delete)" *ngIf="formData.isDelete" (click)="onBtnDeleteClick()">{{ 'DELETE' }}</button>
    <button class="btn btn-sm btn-success mr-2" title="{{ 'SAVE'  }}(Ctrl + S)" (click)="onBtnSaveClick()">{{
		'SAVE' }}</button>
    <button class="btn btn-sm btn-secondary mr-2" title="{{ 'CANCEL'  }}(Esc)" *ngIf="formData.isCancel" (click)="onBtnCancelClick()">{{ 'CANCEL' }}</button>
</div>
<div class="kt-margin-t-30" *ngIf="formData.hideHeader">
    <button class="btn btn-secondary kt-margin-r-15" title="{{ 'CANCEL'  }}(Esc)" (click)="onBtnCancelClick()" mat-raised-button>
		<i class="la la-arrow-left"></i>
		<span class="kt-hidden-mobile">{{ 'PREVIOUS' }}</span>
	</button>
    <button class="btn btn-primary kt-margin-r-15" title="{{ 'SAVE'  }}(Ctrl + S)" (click)="onBtnSaveClick()" mat-raised-button color="primary">
		<i class="la la-arrow-right"></i>
		<span class="kt-hidden-mobile">{{ 'NEXT' }}</span>
	</button>
</div>

<p-confirmDialog #dlgConfirm header="Confirmation" appendTo="body" [baseZIndex]="10001" [key]="key" position="top" icon="pi pi-exclamation-triangle"></p-confirmDialog>