<div class="container-fluid shop-profile">
    <div class="row">
        <div class="col-md-4">
            <app-waiting *ngIf="loaded == false"></app-waiting>

            <div class="profile-head" *ngIf="loaded == true">
                <div class="profile-img">
                    <img class="img-profile img-fluid" [src]="profileImage" alt="image here" />

                </div>
            </div>
        </div>
        <div class="col-md-8" style="word-wrap: break-word; padding-bottom: 5px; border-bottom: 1px black solid;">

            <app-waiting *ngIf="loaded == false"></app-waiting>

            <div class="profile-head" *ngIf="loaded == true">
                <div *ngIf="authService.isAuthenticated()">
                    <p-toggleButton onLabel="Unsave" offLabel="Save" offIcon="pi pi-check" onIcon="pi pi-times" iconPos="right" (onChange)="saveShop($event.checked)"></p-toggleButton>
                </div>
                <p-messages severity="info" *ngIf="!authService.isAuthenticated()">
                    <ng-template pTemplate>
                        <div class="p-ml-2"><a [routerLink]="['/login']">Login</a> {{" to save this shop!"}}</div>
                    </ng-template>
                </p-messages>
                <h3>General information</h3>
                <h5>
                    {{"Name: "+shopItem.name}}
                </h5>
                <h6>
                    {{"Description: "+shopItem.description}}
                </h6>
                <p class="proile-rating">
                    {{"Categories:"}} <span *ngFor="let item of shopItem.shopCategory">{{item.name+" " }} </span>
                </p>
                <p>{{shopItem.address}}{{shopItem.street}}{{shopItem.district}}{{shopItem.city}}</p>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#image" role="tab" aria-controls="profile" aria-selected="false">Images</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#review" role="tab" aria-controls="profile" aria-selected="false">Reviews</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent" *ngIf="loaded == true" style="word-wrap: break-word;">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="row">
                        <div class="col-md-4">
                            <label>Shop Id</label>
                        </div>
                        <div class="col-md-8">
                            <p>{{shopItem.id}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Shop Name</label>
                        </div>
                        <div class="col-md-8">
                            <p>{{shopItem.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Shop Description</label>
                        </div>
                        <div class="col-md-8">
                            <p>{{shopItem.description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Telphone</label>
                        </div>
                        <div class="col-md-8">
                            <p>{{shopItem.telephone}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Address</label>
                        </div>
                        <div class="col-md-8">
                            <p>{{shopItem.address}} {{shopItem.street}} {{shopItem.district}} {{shopItem.city}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Price Range</label>
                        </div>
                        <div class="col-md-8">
                            <p>{{shopItem.minPrice}} - {{shopItem.maxPrice}}</p>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="profile-tab">
                    <p-messages severity="info" *ngIf="!images  || images.length == 0">
                        <ng-template pTemplate>
                            <div class="p-ml-2">No data to display</div>
                        </ng-template>
                    </p-messages>
                    <div class="row " style="display: flex;justify-content: center;align-items: center;">
                        <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="5" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true" [showItemNavigatorsOnHover]="true"
                            [changeItemOnIndicatorHover]="true">
                            <ng-template pTemplate="item" let-item>
                                <img [src]="item" [alt]="'There is a picture here'" style="width: 100%;object-fit: cover;height: 15rem; display: block;" />
                            </ng-template>
                        </p-galleria>
                    </div>
                </div>
                <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="profile-tab">
                    <p-messages severity="info" *ngIf="!authService.isAuthenticated()">
                        <ng-template pTemplate>
                            <div class="p-ml-2"><a [routerLink]="['/login']">Log in</a> to start a review
                            </div>
                        </ng-template>
                    </p-messages>
                    <p-messages severity="info" *ngIf="authService.isAuthenticated()">
                        <ng-template pTemplate>
                            <div class="p-ml-2">Start a <a style="cursor: pointer; text-decoration: underline; color: deeppink;" (click)="onReviewAdd()">review </a>now!
                            </div>
                        </ng-template>
                    </p-messages>
                    <p-messages severity="info" *ngIf="!data || data.length == 0">
                        <ng-template pTemplate>
                            <div class="p-ml-2">No data to display
                            </div>
                        </ng-template>
                    </p-messages>
                    <div infinite-scroll (scrolled)="onScrollDown()" style="width: 100%;word-wrap: break-word">
                        <div *ngFor="let i of data">
                            <app-review [id]="i.id" [service]="reviewService" [userName]="i.name " (event)="initData() ">
                            </app-review>
                        </div>
                    </div>
                    <app-waiting *ngIf="isLoaded==false "></app-waiting>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="similarCategory && similarCategory.length > 0">
        <h5>Similar shops with category {{category}} </h5>
        <app-waiting *ngIf="loadedCategory == false"></app-waiting>
        <div *ngIf="loadedCategory == true">
            <p-carousel [value]="similarCategory" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions2">
                <ng-template pTemplate="header">

                </ng-template>
                <ng-template let-shop pTemplate="item">
                    <div class="card-deck" style="
                                margin: .3rem;
                                padding: 2rem 0;">
                        <div class="card">
                            <a [routerLink]="['/app/shop/shop-item', shop.id]" class="shop-item" data-toggle="tooltip" data-placement="bottom" title="Go to shop    " trigger="hover focus">
                                <img class=" img-shop" [src]="shop.image" alt="Card image cap">

                                <div class="card-body">
                                    <h5 class="card-title">{{shop.name}}</h5>
                                    <h6 class="card-text">{{shop.address}} {{shop.street}} {{shop.district}} {{shop.city}}
                                    </h6>
                                    <p>Price range: {{shop.minPrice}}-{{shop.maxPrice}}</p>
                                    <p>Telephone: {{shop.telephone}}</p>
                                    <p>{{shop.description}}</p>
                                </div>
                            </a>
                            <div class="card-footer">
                                <small class="text-muted" *ngIf="shop.openingHour || shop.endingHour">Opening
                                    hours:{{" "+shop.openingHour}}-{{shop.endingHour}}</small>
                                <small class="text-muted" *ngIf="!(shop.openingHour || shop.endingHour)">This
                                    shop has no opening hours data</small>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
    <div *ngIf="similarDistrict && similarDistrict.length > 0">
        <h5>Shops near {{district}} </h5>
        <app-waiting *ngIf="loadedDistrict == false"></app-waiting>
        <div *ngIf="loadedDistrict == true">
            <p-carousel [value]="similarDistrict" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions2">
                <ng-template pTemplate="header">

                </ng-template>
                <ng-template let-shop pTemplate="item">
                    <div class="card-deck" style="
            margin: .3rem;
            padding: 2rem 0;">
                        <div class="card">
                            <a [routerLink]="['/app/shop/shop-item', shop.id]" class="shop-item" data-toggle="tooltip" data-placement="bottom" title="Go to shop    " trigger="hover focus">
                                <img class=" img-shop" [src]="shop.image" alt="Card image cap">

                                <div class="card-body">
                                    <h5 class="card-title">{{shop.name}}</h5>
                                    <h6 class="card-text">{{shop.address}} {{shop.street}} {{shop.district}} {{shop.city}}
                                    </h6>
                                    <p>Price range: {{shop.minPrice}}-{{shop.maxPrice}}</p>
                                    <p>Telephone: {{shop.telephone}}</p>
                                    <p>{{shop.description}}</p>
                                </div>
                            </a>
                            <div class="card-footer">
                                <small class="text-muted" *ngIf="shop.openingHour || shop.endingHour">Opening
                                    hours:{{" "+shop.openingHour}}-{{shop.endingHour}}</small>
                                <small class="text-muted" *ngIf="!(shop.openingHour || shop.endingHour)">This
                                    shop has no opening hours data</small>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>
<app-review-add [formDisplay]="formDisplay" [input]="input" (event)="onUploadEvent($event)" [viewMode]="true">
</app-review-add>