<p-dialog #dlg
          [(visible)]="dialogRef.isDisplay"
          [baseZIndex]="11003"
          [style]="{width: '750px'}"
          [modal]="true"
          [closable]="true"
          appendTo="body">
    <p-header>
        <i class="fal fa-users-cog"></i> {{ 'Set operation to role' | translate }}
    </p-header>
    <p-tree [value]="treeData"
            (onNodeSelect)="onNodeSelect($event)"
            (onNodeUnselect)="onNodeUnselect($event)"
            styleClass="p-treenode-non-highlighted">
        <ng-template let-node
                     pTemplate="default">
            <i *ngIf="!checkRestricted(node.data)"
               class="far fa-minus-circle fa-button fa-gray"
               title="Turn on restrict mode"
               (click)="onNodeUnselect(node.data)"></i>
            <i *ngIf="checkRestricted(node.data)"
               class="fas fa-minus-circle fa-button fa-red"
               title="Turn off restrict mode"
               (click)="onNodeSelect(node.data)"></i>
            {{ node.label | translate }}
            <span class="badge badge-pill badge-secondary">{{ node.data.method | uppercase }}</span>
            <span *ngIf="(checkNumberRestricedChildren(node) > 0) && (checkHaveParent(node) === false)"
                  class="badge badge-pill badge-warning">{{checkNumberRestricedChildren(node)}}</span>
        </ng-template>
    </p-tree>
    <ng-template pTemplate="footer">
        <ng-container>
            <button class="btn btn-sm btn-success"
                    (click)="onBtnSetClick()">{{ 'COMMON.SET' | translate }}</button>
            <button class="btn btn-sm btn-secondary"
                    (click)="onBtnCancel()">{{ 'COMMON.CANCEL' | translate }}</button>
        </ng-container>
    </ng-template>
</p-dialog>